python==2.6.6
grassgis==6.4.3
gdal==1.10
Landsat_LDOPE==1.7
OTB==4.0.0
wine.x86_64==1.6.1
LANDSAT-Download==1.0 (https://github.com/olivierhagolle/LANDSAT-Download)
Starspan==?? (https://github.com/Ecotrust/starspan)